*{
    margin: 0;
    padding: 0;
}
.cards{
    background-color: white;
    height: 350px;
    width: 250px;
    position: absolute;
    top: 100px;
    border-radius: 10px;
}

.product img{
    width: 150px;
    height: 175px;
    position: absolute;
    top: 30px;
    left: 50px;
}
.Info{
    position: relative;
    top:210px;
    text-align: center;
}
.Add{
    background-color: #af6b05;
    width: 200px;
    position: absolute;
    bottom:5px;
    left:25px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.Add p{
    padding: 5px;
}
.Add a{
    color: black;
}
.Add a:hover{
    border: none;
}
.Add:hover{
    background-color: blanchedalmond;
}