*{
    margin: 0px;
    padding: 0;
}
.cards{
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color:white;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    align-items: center;
    border: 1px solid black;
}

.cards img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-top:10px;
}
.Info{
    color: black;
    text-align: center;
}
.Add{
    height: 30px;
    background-color: #af6b05;
    width: 180px;
    position: absolute;
    margin: 270px 35px 0px 35px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.Add p{
    padding: 5px;
}
.Add a{
    color: black;
}
.Add a:hover{
    border: none;
}
.Add:hover{
    background-color: blanchedalmond;
}