.Pages{
height: 90vh;
width: 100vw;
/* background-image: url('https://static.vecteezy.com/system/resources/previews/000/511/625/original/vector-sale-banner-big-summer-sale-sign-over-white-background.jpg'); */
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
}
.searchBar input{
    height: 45px;
    width: 40vw;
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    font-size: 20px;
}
.searchBar input:focus{
    border: none;
    border-bottom: 2px solid aqua;
    outline: none;
}

.searchBar button{
    margin: 2px;
    width: 70px;
    height: 45px;

}
.slideshow img{
    height: 90vh;
    overflow: hidden;
}
.searchBar{
    position: absolute;
            left: 50%;
            bottom: 80%;
            transform: translate(-50%,50%);
            z-index: 50;
}
.slideshow{
    height: 100%;
            overflow: hidden;
            position: relative;
            display: flex;
            width: 400%;
            height: 100%;
            animation: slideshow 20s infinite;
}