* {
  margin: 0;
  padding: 0;
}
a {
  margin: 10px;
  text-decoration: none;
  color: black;
  border-bottom: 0px solid aqua;
  transition: ease-out 0.25s;
}
a:hover {
  border-bottom: 3px solid aqua;
}
